# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.vcxproj
*.user
*.filters
.vs/locoLang/v16/ipch/AutoPCH/96ef63d9ca75624e/LOCOLANG.ipch
.vs/locoLang/v16/Browse.VC.opendb
.vs/locoLang/v16/Browse.VC.db
.vs/locoLang/v16/.suo
.x64/
locoLang.h
locoLang.sln
*.pdb
*.tlog
*.ilk
*.log
*.idb
*.txt
path.bak
